
.navbar {
	background-color: #9A8B4F;
}

.container-fuild{
	margin:10px;
	padding:10px;
}

.navbar-brand{
	/*color:#FAEBD7;*/
	/*color:#D8BFD8;*/
	font-size:31px;
	padding-left:20px;
	color:#EADEDB;
}

.navbar-brand:hover{
	color:#8B4513;
}

.navbar-toggle{
	border: 2.5px solid white;
	margin-right:20px;
}

.icon-bar{
	background-color: #FAEBD7;
}

.main-title{
	font-size:35px;
	color:#663399;
	text-align: center;
}

.text-center{
	/*color:#A0522D;*/
	font-weight:bold;
	color:#4b5335;
}

.item-name{
	/*color:#A0522D;*/
	font-size:20px;
	text-align:center;
	font-weight:bold;
	color:#9A8B4F;
	/*color:##8B4513;*/
}

.content-box{
	margin-left:20px;
	margin-right:20px;
	margin-top:20px;
	margin-bottom:20px;
	padding-left:10px;
	padding-right:10px;
	padding-top:10px;
	padding-bottom:10px;
	/*background-color:#FAEBD7;*/
	height:300px;
	width:auto;
	overflow:scroll;
	/*color:#A0522D;*/
	color:#4B5335;
	background-color:#EADEDB;
}

.menu-item{
	padding:0;
	margin:0;
	width:100%;
	background-color:#FAEBD7;
	border-bottom:1px solid white;
	border-top:2px solid white;
	/*color:#A0522D;*/
	display:block;
	color:#4B5335;
}

.row{
	margin:20px;
	background-color:#BC8F8F;
}

li {
	color:black;
	text-align: center
}

ul {
	list-style-type: none;
}

body {
	background-color:#BC8F8F;
	font-family:URW Chancery L, cursive;
}
